
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
h3{
  font-size: large;
  top: 2rem;
  position: relative;
}
a{
  text-decoration: none;
  color: inherit;
  position: relative;
  text-emphasis: none;
  bottom: 1rem;
  font-size: large;
  top: 0.2rem;
}
a:hover{
  text-decoration:underline;
}
p{
  top: 1rem;
  position: relative;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-4-rjY {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.desktop-4-rjY .component-2-oen {
  width: 100%;
  height: 500.4rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-4-rjY .component-2-oen .navbar-10-9yY {
  box-sizing: border-box;
  padding: 2.2rem 5.8rem 1.6rem 6.464rem;
  width: 144rem;
  height: 9.6rem;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: rgba(255, 133, 0, 0.7099999785);
}
.desktop-4-rjY .component-2-oen .navbar-10-9yY .auto-group-hydg-qrN {
  margin-right: 15.7rem;
  width: 78.5355rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-4-rjY .component-2-oen .navbar-10-9yY .auto-group-hydg-qrN .frame-29-PN6 {
  box-sizing: border-box;
  padding-left: 8rem;
  width: 51rem;
  height: 3.6rem;
  position: absolute;
  left: 27.5355rem;
  top: 2.2rem;
}
.desktop-4-rjY .component-2-oen .navbar-10-9yY .auto-group-hydg-qrN .frame-29-PN6 .auto-group-4gxg-hta {
  box-sizing: border-box;
  padding-left: 11.9rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.desktop-4-rjY .component-2-oen .navbar-10-9yY .auto-group-hydg-qrN .frame-29-PN6 .auto-group-4gxg-hta .frame-15-eJ2 {
  margin: 0rem 6.1rem 1.2rem 0rem;
  box-sizing: border-box;
  padding: 0.25rem 0.5rem 0.15rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-4-rjY .component-2-oen .navbar-10-9yY .auto-group-hydg-qrN .frame-29-PN6 .auto-group-4gxg-hta .frame-15-eJ2 .my-bookings-h1Q {
  margin-right: 1.2999rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #2d2e2e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-4-rjY .component-2-oen .navbar-10-9yY .auto-group-hydg-qrN .frame-29-PN6 .auto-group-4gxg-hta .frame-15-eJ2 .icon-pack-126 {
  margin-bottom: 0.1998rem;
  width: 1.4002rem;
  height: 0.7173rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-4-rjY .component-2-oen .navbar-10-9yY .auto-group-hydg-qrN .frame-29-PN6 .auto-group-4gxg-hta .hotels-car-here-LKG {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #2d2e2e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-4-rjY .component-2-oen .navbar-10-9yY .auto-group-hydg-qrN .logo-Tug {
  width: 40rem;
  height: 5rem;
  position: absolute;
  left: 1.9355rem;
  top: 0.3rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-4-rjY .component-2-oen .navbar-10-9yY .auto-group-pf8i-BKt {
  margin: 1.2rem 0rem 1.521rem 0rem;
  width: 37.5rem;
  height: calc(100% - 2.7206rem);
  flex-shrink: 0;
}
.desktop-4-rjY .component-2-oen .navbar-10-9yY .auto-group-pf8i-BKt .search-VrN {
  width: 100%;
  height: 100%;
  box-shadow: 0 0.0642rem 0.1283rem rgba(0, 0, 0, 0.200000003), 0 0.0064rem 0.0192rem rgba(0, 0, 0, 0.1000000015);
}
.desktop-4-rjY .component-2-oen .navbar-10-9yY .auto-group-pf8i-BKt .search-VrN .content-TYJ {
  box-sizing: border-box;
  padding: 0.642rem 1.373rem 0.642rem 1.026rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0.1283rem;
}
.desktop-4-rjY .component-2-oen .navbar-10-9yY .auto-group-pf8i-BKt .search-VrN .content-TYJ .magnifyingglass-zHL {
  margin-right: 1.5397rem;
  width: 1.7963rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1548rem;
  font-weight: 500;
  line-height: 2.7777776768;
  color: #000000;
  font-family: SF Pro Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-4-rjY .component-2-oen .navbar-10-9yY .auto-group-pf8i-BKt .search-VrN .content-TYJ .placeholder-label-H1Y {
  margin: 0rem 27.318rem 0rem 0rem;
  font-size: 1.0906rem;
  font-weight: 400;
  line-height: 1.2941176728;
  letter-spacing: 0.0321rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-4-rjY .component-2-oen .navbar-10-9yY .auto-group-pf8i-BKt .search-VrN .content-TYJ .close-mxJ {
  margin-bottom: 0rem;
  width: 0.8459rem;
  height: 0.8459rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-4-rjY .component-2-oen .sont-accrdits-suivant-lanorme-internationale-nf-iso-cei-17025-27Y {
  width: 70rem;
  height: 2.8rem;
  position: absolute;
  left: 8.65rem;
  top: 16.4rem;
  text-align: center;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-4-rjY .component-2-oen .liste-des-protocoles-par-domaine-tQe {
  width: 54.6rem;
  height: 4.1rem;
  position: absolute;
  left: 28.1rem;
  top: 28.3rem;
  text-align: center;
  font-size: 3.3rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-4-rjY .component-2-oen .veuillez-trouver-ci-dessous-la-listeexhaustif-de-tous-nos-protocoles-de-prestation-par-domaine-dactivit-tellesque-les-tudes-sdimentologiques-integres-les-analyses-minralogiques-etchimiques-des-dpts-des-argiles-et-des-matriaux-la-caractrisation-deshuiles-et-extraits-de-matire-organique-les-tudes-de-la-sensibilit-de-laroche-rservoir-une-eau-dinjection-la-caractrisation-gomecanique-surcutting-et-carotte-entire-les-analyses-et-le-suivi-des-huiles-lubrifiantes-enservice-analyse-chimique-complte-dune-eau-de-consommation-analyse-desrejets-atmosphriques-lambiance-tude-de-la-corrosion-bactrienne--Nqc {
  width: 95.9rem;
  height: 17rem;
  position: absolute;
  left: 9.1rem;
  top: 36.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-4-rjY .component-2-oen .auto-group-dmxc-Pu8 {
  box-sizing: border-box;
  padding: 9rem 18.9rem 0rem 8.9rem;
  width: 144rem;
  height: 37.3rem;
  position: absolute;
  left: 0;
  top: 46.1rem;
}
.desktop-4-rjY .component-2-oen .auto-group-dmxc-Pu8 .auto-group-fjgz-iAi {
  margin: 0rem 38rem 8.1rem 0rem;
  width: calc(100% - 38rem);
  height: 10.1rem;
  display: flex;
  align-items: center;
}
.desktop-4-rjY .component-2-oen .auto-group-dmxc-Pu8 .auto-group-fjgz-iAi .auto-group-cs2w-qWE {
  margin-right: 6.8rem;
  width: 30.7rem;
  height: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.desktop-4-rjY .component-2-oen .auto-group-dmxc-Pu8 .auto-group-fjgz-iAi .auto-group-7dca-w3U {
  box-sizing: border-box;
  padding: 0.7rem 3.9rem 0.6rem 4rem;
  width: 30.7rem;
  height: 100%;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.desktop-4-rjY .component-2-oen .auto-group-dmxc-Pu8 .auto-group-fjgz-iAi .auto-group-7dca-w3U .caractrisationdes-rservoirs-et-des-ffluents-Fpr {
  max-width: 22.8rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-4-rjY .component-2-oen .auto-group-dmxc-Pu8 .auto-group-mzae-Zae {
  margin-right: 38rem;
  width: calc(100% - 38rem);
  height: 10.1rem;
  display: flex;
  align-items: center;
}
.desktop-4-rjY .component-2-oen .auto-group-dmxc-Pu8 .auto-group-mzae-Zae .auto-group-76aa-JHL {
  margin-right: 6.8rem;
  box-sizing: border-box;
  padding: 2.2rem 4.6rem 2rem 4.7rem;
  width: 30.7rem;
  height: 100%;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.desktop-4-rjY .component-2-oen .auto-group-dmxc-Pu8 .auto-group-mzae-Zae .auto-group-76aa-JHL .contrledes-produits-ptroliers-R74 {
  max-width: 21.4rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-4-rjY .component-2-oen .auto-group-dmxc-Pu8 .auto-group-mzae-Zae .auto-group-8fyr-LE2 {
  box-sizing: border-box;
  padding: 2.2rem 3.75rem 2rem 3.85rem;
  width: 30.7rem;
  height: 100%;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.desktop-4-rjY .component-2-oen .auto-group-dmxc-Pu8 .auto-group-mzae-Zae .auto-group-8fyr-LE2 .traitementdes-eaux-et-environnement-U5L {
  max-width: 23.1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-4-rjY .component-2-oen .nos-laboratoires-nLv {
  width: 29.1rem;
  height: 3.6rem;
  position: absolute;
  left: 8.4rem;
  top: 12.3rem;
  text-align: center;
  font-size: 2.9rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-4-rjY .auto-group-dysq-66i {
  box-sizing: border-box;
  padding: 0rem 19.4rem 5.2rem 93.9rem;
  width: 100%;
  height: 5.2rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-4-rjY .auto-group-dysq-66i .auto-group-bex8-c54 {
  margin-bottom: 8.1rem;
  width: 100%;
  height: 10.1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.desktop-4-rjY .auto-group-dysq-66i .auto-group-g16n-UNA {
  width: 100%;
  height: 10.1rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
::selection {
  background: #e1620df7;
}
.wrapper {
  max-width: 700px;
  padding: 2px 20px;
  position: relative;
  top: 2rem;
}
.wrapper .parent-tab,
.wrapper .child-tab {
  margin-bottom: 8px;
  border-radius: 3px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.18);
}
.wrapper .parent-tab label,
.wrapper .child-tab label {
  background: #ff5e00;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  z-index: 99;
  transition: all 0.3s ease;
}
.wrapper .parent-tab label:hover {
  background: #ff5e00;
}
.parent-tab input:checked ~ label,
.child-tab input:checked ~ label {
  border-radius: 3px 3px 0 0;
  background: #ff5e00;
}
.wrapper label span {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-shadow: 0 -1px 1px #ff5e00;
}
.wrapper .child-tab label span {
  font-size: 17px;
}
.parent-tab label .icon {
  position: relative;
  height: 30px;
  width: 30px;
  font-size: 15px;
  color: #ff5e00;
  display: block;
  background: #fff;
  border-radius: 50%;
  text-shadow: 0 -1px 1px #ff5e00;
}
.wrapper .child-tab label .icon {
  height: 27px;
  width: 27px;
}
.parent-tab label .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.parent-tab input:checked ~ label .icon i:before,
.child-tab input:checked ~ label .icon i:before {
  content: "\f068";
}
.wrapper .parent-tab .content,
.wrapper .child-tab .sub-content {
  max-height: 0px;
  overflow: hidden;
  background: #fff;
  border-radius: 0 0 3px 3px;
  transition: all 0.4s ease;
}
.parent-tab input:checked ~ .content,
.child-tab input:checked ~ .sub-content {
  max-height: 800vh;
}
.tab-3 input:checked ~ .content {
  padding: 15px 20px;
}

.parent-tab .content p,
.child-tab .sub-content p {
  padding: 15px 20px;
  font-size: 16px;
}
.child-tab .sub-content p {
  font-size: 15px;
}
input[type="radio"],
input[type="checkbox"] {
  display: none;
}