
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-6-J3Q {
  width: 100%;
  height: 118.9rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .detail-prestation-pXY {
    font-size: 3.6rem;
    font-weight: 600;
    white-space: nowrap;
    width: 28.9rem;
    left: 8.4rem;
    top: 79.3rem;
    text-align: center;
    font-family: Inter, 'Source Sans Pro';
    height: 4.4rem;
    position: absolute;
    line-height: 1.2125;
    color: #000000;
  }
  .component-4-tGW {
    width: 144rem;
    height: 108.1rem;
    position: absolute;
    left: 0;
    top: 0;

    .navbar-10-16E {
      padding: 2.2rem 8.7rem 1.35rem 6.464rem;
      left: 0;
      top: 0;
      background-color: rgba(255, 133, 0, 0.7099999785);
      display: flex;
      align-items: center;
      box-sizing: border-box;
      width: 144rem;
      height: 9.6rem;
      position: absolute;
      overflow: hidden;

      .auto-group-k6z2-UkW {
        flex-shrink: 0;
        margin-right: 10.9968rem;
        width: 78.1355rem;
        height: 100%;
        position: relative;

        .frame-29-zTx {
          width: 50.6rem;
          height: 3.6rem;
          position: absolute;
          left: 27.5355rem;
          top: 2.45rem;
          box-sizing: border-box;
          padding-left: 23.5rem;

          .auto-group-s2sg-HCA {
            position: relative;
            width: 100%;
            height: 2.4rem;

            .frame-15-byY {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              width: 13.2rem;
              height: 2.4rem;
              position: absolute;
              font-size: 1.6rem;
              font-weight: 600;
              left: 0;
              top: 0;
              line-height: 1.2125;
              color: #2d2e2e;
            }
            .hotels-car-here-Tkr {
              font-weight: 600;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              width: 16.1rem;
              height: 2rem;
              position: absolute;
              left: 11rem;
              top: 0;
              font-size: 1.6rem;
              color: #2d2e2e;
            }
          }
        }
        .logo-8MC {
          left: 1.9355rem;
          top: 0.3rem;
          object-fit: cover;
          vertical-align: top;
          width: 40rem;
          height: 5rem;
          position: absolute;
        }
      }
      .auto-group-6eyk-dok {
        box-sizing: border-box;
        padding-left: 2.2032rem;
        width: 39.7032rem;
        height: calc(100% - 2.9706rem);
        flex-shrink: 0;
        margin: 1.2rem 0rem 1.771rem 0rem;

        .search-umG {
          width: 100%;
          height: 100%;
          box-shadow: 0 0.0642rem 0.1283rem rgba(0, 0, 0, 0.200000003), 0 0.0064rem 0.0192rem rgba(0, 0, 0, 0.1000000015);

          .content-Tnn {
            padding: 0.642rem 1.373rem 0.642rem 1.026rem;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            background-color: #ffffff;
            border-radius: 0.1283rem;
            box-sizing: border-box;

            .magnifyingglass-N94 {
              justify-content: center;
              font-size: 1.1548rem;
              line-height: 2.7777776768;
              font-family: SF Pro Display, 'Source Sans Pro';
              width: 1.7963rem;
              height: 100%;
              display: flex;
              overflow: hidden;
              color: #000000;
              white-space: nowrap;
              align-items: center;
              flex-shrink: 0;
              margin-right: 1.5397rem;
              position: relative;
              font-weight: 500;
            }
            .placeholder-label-QrS {
              font-size: 1.0906rem;
              font-weight: 400;
              line-height: 1.2941176728;
              color: #000000;
              white-space: nowrap;
              margin: 0rem 27.318rem 0rem 0rem;
              letter-spacing: 0.0321rem;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .close-gJA {
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0rem;
              width: 0.8459rem;
              height: 0.8459rem;
              object-fit: contain;
            }
          }
        }
      }
    }
    .rectangle-28-tQE {
      left: 0;
      top: 8.8rem;
      background-color: #ffffff;
      width: 144rem;
      height: 99.3rem;
      position: absolute;
    }
    .group-60-p2z {
      width: 117.1rem;
      height: 28.7rem;
      position: absolute;
      left: 9.1rem;
      top: 43.1rem;

      .ralisation-des-tudes-lithologiques-en-utilisanttoutes-les-techniques-classiques-XTC {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 5.2rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
      }
      .ralisation-des-tudes-de-palo-environnement-dedpts-lchelle-du-bassin-ou-lchelle-rgionale-bxr {
        margin-bottom: 3.9rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .reconstitution-de-la-chronologie-relative-auxdiffrentes-phases-de-cimentation-et-de-dissolution-dans-le-cadre-de-ltudediagntique-des-rservoirs-5d8 {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 1.8rem;
        max-width: 117.1rem;
      }
      .dfinition-des-potentialits-des-rservoirs-et-larpartition-de-leur-qualit-pour-rduire-les-risques-lis-lexploration-et-audveloppement-kcn {
        max-width: 116.7rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .sont-accrdits-suivant-lanorme-internationale-nf-iso-cei-17025-2aJ {
      height: 2.8rem;
      top: 18.7rem;
      text-align: center;
      font-size: 2.3rem;
      line-height: 1.2125;
      white-space: nowrap;
      width: 70rem;
      position: absolute;
      left: 9.15rem;
      font-weight: 400;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .nos-laboratoires-75x {
      height: 3.6rem;
      left: 8.9rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 29.1rem;
      position: absolute;
      top: 14.6rem;
      text-align: center;
      font-size: 2.9rem;
      font-weight: 600;
      line-height: 1.2125;
      color: #000000;
    }
    .sdimentologie-bWv {
      left: 58rem;
      text-align: center;
      white-space: nowrap;
      font-weight: 800;
      line-height: 1.2125;
      color: #000000;
      width: 28.1rem;
      height: 4.4rem;
      position: absolute;
      top: 30.6rem;
      font-size: 3.6rem;
      font-family: Inter, 'Source Sans Pro';
    }
    .group-63-Uai {
      display: flex;
      background-color: rgba(255, 133, 0, 0.4900000095);
      padding: 1.1rem 2.012rem 1rem 7.1rem;
      height: 5.1rem;
      position: absolute;
      left: 8.4rem;
      top: 88.7rem;
      align-items: center;
      border: solid 0.4rem #000000;
      box-sizing: border-box;
      width: 49.2rem;

      .clastiques-et-reservoirs-vhc {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        color: #000000;
        font-weight: 600;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        margin-right: 2.2rem;
        font-size: 2.4rem;
      }
      .vector-2Er {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.012rem;
        width: 2.788rem;
        height: 2.788rem;
        object-fit: contain;
      }
    }
    .group-62-hLz {
      background-color: rgba(255, 133, 0, 0.4900000095);
      box-sizing: border-box;
      padding: 1.1rem 2.012rem 1rem 8.7rem;
      width: 49.2rem;
      height: 5.1rem;
      display: flex;
      align-items: center;
      position: absolute;
      left: 8.4rem;
      top: 96rem;
      border: solid 0.4rem #000000;

      .etudes-mineralogiques-y3c {
        white-space: nowrap;
        font-size: 2.4rem;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        margin-right: 3.9rem;
        text-align: center;
        font-weight: 600;
        flex-shrink: 0;
      }
      .vector-5sL {
        margin-bottom: 0.012rem;
        width: 2.788rem;
        height: 2.788rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
