
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-4-rjY {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .component-2-oen {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 90.4rem;

    .navbar-10-9yY {
      width: 144rem;
      left: 0;
      overflow: hidden;
      display: flex;
      box-sizing: border-box;
      height: 9.6rem;
      position: absolute;
      top: 0;
      align-items: center;
      background-color: rgba(255, 133, 0, 0.7099999785);
      padding: 2.2rem 5.8rem 1.6rem 6.464rem;

      .auto-group-hydg-qrN {
        margin-right: 15.7rem;
        width: 78.5355rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .frame-29-PN6 {
          width: 51rem;
          height: 3.6rem;
          position: absolute;
          left: 27.5355rem;
          top: 2.2rem;
          box-sizing: border-box;
          padding-left: 8rem;

          .auto-group-4gxg-hta {
            box-sizing: border-box;
            padding-left: 11.9rem;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-start;

            .frame-15-eJ2 {
              margin: 0rem 6.1rem 1.2rem 0rem;
              box-sizing: border-box;
              padding: 0.25rem 0.5rem 0.15rem 0rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .my-bookings-h1Q {
                flex-shrink: 0;
                margin-right: 1.2999rem;
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #2d2e2e;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .icon-pack-126 {
                width: 1.4002rem;
                height: 0.7173rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.1998rem;
              }
            }
            .hotels-car-here-LKG {
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.2125;
              color: #2d2e2e;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .logo-Tug {
          left: 1.9355rem;
          top: 0.3rem;
          object-fit: cover;
          vertical-align: top;
          width: 40rem;
          height: 5rem;
          position: absolute;
        }
      }
      .auto-group-pf8i-BKt {
        height: calc(100% - 2.7206rem);
        flex-shrink: 0;
        margin: 1.2rem 0rem 1.521rem 0rem;
        width: 37.5rem;

        .search-VrN {
          width: 100%;
          height: 100%;
          box-shadow: 0 0.0642rem 0.1283rem rgba(0, 0, 0, 0.200000003), 0 0.0064rem 0.0192rem rgba(0, 0, 0, 0.1000000015);

          .content-TYJ {
            background-color: #ffffff;
            border-radius: 0.1283rem;
            box-sizing: border-box;
            padding: 0.642rem 1.373rem 0.642rem 1.026rem;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .magnifyingglass-zHL {
              font-weight: 500;
              width: 1.7963rem;
              overflow: hidden;
              align-items: center;
              font-size: 1.1548rem;
              line-height: 2.7777776768;
              color: #000000;
              flex-shrink: 0;
              margin-right: 1.5397rem;
              position: relative;
              display: flex;
              justify-content: center;
              font-family: SF Pro Display, 'Source Sans Pro';
              white-space: nowrap;
              height: 100%;
            }
            .placeholder-label-H1Y {
              margin: 0rem 27.318rem 0rem 0rem;
              font-size: 1.0906rem;
              font-weight: 400;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              line-height: 1.2941176728;
              letter-spacing: 0.0321rem;
              color: #000000;
              white-space: nowrap;
            }
            .close-mxJ {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0rem;
              width: 0.8459rem;
              height: 0.8459rem;
            }
          }
        }
      }
    }
    .sont-accrdits-suivant-lanorme-internationale-nf-iso-cei-17025-27Y {
      width: 70rem;
      font-weight: 400;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.8rem;
      position: absolute;
      left: 8.65rem;
      top: 16.4rem;
      text-align: center;
      font-size: 2.3rem;
      line-height: 1.2125;
    }
    .liste-des-protocoles-par-domaine-tQe {
      font-size: 3.3rem;
      font-weight: 900;
      font-family: Inter, 'Source Sans Pro';
      width: 54.6rem;
      left: 10.35rem;
      text-align: center;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      height: 4.1rem;
      position: absolute;
      top: 28.3rem;
    }
    .veuillez-trouver-ci-dessous-la-listeexhaustif-de-tous-nos-protocoles-de-prestation-par-domaine-dactivit-tellesque-les-tudes-sdimentologiques-integres-les-analyses-minralogiques-etchimiques-des-dpts-des-argiles-et-des-matriaux-la-caractrisation-deshuiles-et-extraits-de-matire-organique-les-tudes-de-la-sensibilit-de-laroche-rservoir-une-eau-dinjection-la-caractrisation-gomecanique-surcutting-et-carotte-entire-les-analyses-et-le-suivi-des-huiles-lubrifiantes-enservice-analyse-chimique-complte-dune-eau-de-consommation-analyse-desrejets-atmosphriques-lambiance-tude-de-la-corrosion-bactrienne--Nqc {
      width: 95.9rem;
      position: absolute;
      font-size: 2rem;
      line-height: 1.2125;
      color: #000000;
      height: 17rem;
      left: 9.1rem;
      top: 36.1rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
    }
    .auto-group-dmxc-Pu8 {
      left: 0;
      top: 53.1rem;
      box-sizing: border-box;
      padding: 9rem 18.9rem 0rem 18.9rem;
      width: 144rem;
      height: 37.3rem;
      position: absolute;

      .auto-group-fjgz-iAi {
        align-items: center;
        margin: 0rem 38rem 8.1rem 0rem;
        width: calc(100% - 38rem);
        height: 10.1rem;
        display: flex;

        .auto-group-cs2w-qWE {
          margin-right: 6.8rem;
          font-size: 2.4rem;
          font-family: Inter, 'Source Sans Pro';
          justify-content: center;
          height: 100%;
          text-align: center;
          line-height: 1.2125;
          color: #000000;
          display: flex;
          background-color: #d9d9d9;
          flex-shrink: 0;
          width: 30.7rem;
          font-weight: 600;
          white-space: nowrap;
          align-items: center;
        }
        .auto-group-7dca-w3U {
          box-sizing: border-box;
          padding: 0.7rem 3.9rem 0.6rem 4rem;
          width: 30.7rem;
          height: 100%;
          background-color: #d9d9d9;
          flex-shrink: 0;

          .caractrisationdes-rservoirs-et-des-ffluents-Fpr {
            max-width: 22.8rem;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
      .auto-group-mzae-Zae {
        margin-right: 38rem;
        width: calc(100% - 38rem);
        height: 10.1rem;
        display: flex;
        align-items: center;

        .auto-group-76aa-JHL {
          width: 30.7rem;
          height: 100%;
          background-color: #d9d9d9;
          flex-shrink: 0;
          margin-right: 6.8rem;
          box-sizing: border-box;
          padding: 2.2rem 4.6rem 2rem 4.7rem;

          .contrledes-produits-ptroliers-R74 {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            max-width: 21.4rem;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 600;
          }
        }
        .auto-group-8fyr-LE2 {
          box-sizing: border-box;
          padding: 2.2rem 3.75rem 2rem 3.85rem;
          width: 30.7rem;
          height: 100%;
          background-color: #d9d9d9;
          flex-shrink: 0;

          .traitementdes-eaux-et-environnement-U5L {
            font-weight: 600;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            max-width: 23.1rem;
            text-align: center;
            font-size: 2.4rem;
          }
        }
      }
    }
    .nos-laboratoires-nLv {
      font-size: 2.9rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 29.1rem;
      position: absolute;
      left: 8.4rem;
      top: 12.3rem;
      text-align: center;
      font-weight: 600;
      color: #000000;
      height: 3.6rem;
    }
  }
  .auto-group-dysq-66i {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0rem 19.4rem 5.2rem 93.9rem;
    width: 100%;
    height: 5.2rem;
    align-items: flex-end;
    display: flex;

    .auto-group-bex8-c54 {
      margin-bottom: 8.1rem;
      text-align: center;
      line-height: 1.2125;
      background-color: #d9d9d9;
      width: 100%;
      height: 10.1rem;
      font-weight: 600;
      font-family: Inter, 'Source Sans Pro';
      color: #000000;
      white-space: nowrap;
      display: flex;
      align-items: center;
      font-size: 2.4rem;
      justify-content: center;
      flex-shrink: 0;
    }
    .auto-group-g16n-UNA {
      width: 100%;
      font-weight: 600;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      align-items: center;
      background-color: #d9d9d9;
      height: 10.1rem;
      font-size: 2.4rem;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      justify-content: center;
      flex-shrink: 0;
    }
  }
}
