
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-5-HJE {
  width: 100%;
  height: 118.9rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;

  .component-3-RQS {
    width: 100%;
    height: 108.1rem;
    position: relative;

    .navbar-10-w7t {
      overflow: hidden;
      align-items: center;
      background-color: rgba(255, 133, 0, 0.7099999785);
      position: absolute;
      left: 0;
      top: 0;
      height: 9.6rem;
      display: flex;
      box-sizing: border-box;
      padding: 2.2rem 8.7rem 1.6rem 6.464rem;
      width: 144rem;

      .auto-group-3npg-yqG {
        margin-right: 10.5968rem;
        width: 78.5355rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .frame-29-hFU {
          box-sizing: border-box;
          padding-left: 8rem;
          width: 51rem;
          height: 3.6rem;
          position: absolute;
          left: 27.5355rem;
          top: 2.2rem;

          .auto-group-u6qn-NsQ {
            box-sizing: border-box;
            padding-left: 11.9rem;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-start;

            .frame-15-uMY {
              margin: 0rem 6.1rem 1.2rem 0rem;
              box-sizing: border-box;
              padding: 0.25rem 0.5rem 0.15rem 0rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .my-bookings-aia {
                line-height: 1.2125;
                color: #2d2e2e;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 1.2999rem;
                font-size: 1.6rem;
                font-weight: 600;
              }
              .icon-pack-Hcz {
                height: 0.7173rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.1998rem;
                width: 1.4002rem;
              }
            }
            .hotels-car-here-13C {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.2125;
              color: #2d2e2e;
            }
          }
        }
        .logo-Kpa {
          top: 0.3rem;
          object-fit: cover;
          vertical-align: top;
          width: 40rem;
          height: 5rem;
          position: absolute;
          left: 1.9355rem;
        }
      }
      .auto-group-wige-SeJ {
        height: calc(100% - 2.7206rem);
        flex-shrink: 0;
        margin: 1.2rem 0rem 1.521rem 0rem;
        box-sizing: border-box;
        padding-left: 2.2032rem;
        width: 39.7032rem;

        .search-MmG {
          box-shadow: 0 0.0642rem 0.1283rem rgba(0, 0, 0, 0.200000003), 0 0.0064rem 0.0192rem rgba(0, 0, 0, 0.1000000015);
          width: 100%;
          height: 100%;

          .content-KTC {
            background-color: #ffffff;
            border-radius: 0.1283rem;
            box-sizing: border-box;
            padding: 0.642rem 1.373rem 0.642rem 1.026rem;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .magnifyingglass-T3c {
              font-weight: 500;
              line-height: 2.7777776768;
              height: 100%;
              flex-shrink: 0;
              overflow: hidden;
              display: flex;
              align-items: center;
              font-size: 1.1548rem;
              color: #000000;
              white-space: nowrap;
              margin-right: 1.5397rem;
              width: 1.7963rem;
              position: relative;
              justify-content: center;
              font-family: SF Pro Display, 'Source Sans Pro';
            }
            .placeholder-label-wUa {
              font-size: 1.0906rem;
              letter-spacing: 0.0321rem;
              white-space: nowrap;
              margin: 0rem 27.318rem 0rem 0rem;
              line-height: 1.2941176728;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              font-weight: 400;
            }
            .close-Eia {
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0rem;
              width: 0.8459rem;
              height: 0.8459rem;
              object-fit: contain;
            }
          }
        }
      }
    }
    .rectangle-28-Hgr {
      left: 0;
      top: 8.8rem;
      background-color: #ffffff;
      width: 144rem;
      height: 99.3rem;
      position: absolute;
    }
    .group-48-DaW {
      position: absolute;
      left: 93.9rem;
      top: 78.4rem;
      background-color: #d9d9d9;
      box-sizing: border-box;
      padding: 2.2rem 2.3rem 2rem 2.3rem;
      width: 30.7rem;
      height: 10.1rem;

      .gestionet-prparation-des-carottes-X5Q {
        font-family: Inter, 'Source Sans Pro';
        max-width: 26.1rem;
        text-align: center;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
      }
    }
    .group-51-q66 {
      left: 93.9rem;
      top: 45.6rem;
      background-color: #d9d9d9;
      box-sizing: border-box;
      padding: 0.7rem 3.9rem 0.6rem 4rem;
      width: 30.7rem;
      height: 10.1rem;
      position: absolute;

      .caractrisation-des-produits-ptroliersstabiliss-LHk {
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        max-width: 22.8rem;
        text-align: center;
        font-size: 2.4rem;
      }
    }
    .group-49-3T4 {
      background-color: #d9d9d9;
      width: 30.7rem;
      position: absolute;
      top: 78.4rem;
      color: #000000;
      justify-content: center;
      white-space: nowrap;
      left: 56.4rem;
      text-align: center;
      font-size: 2.4rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      height: 10.1rem;
      font-weight: 600;
      align-items: center;
    }
    .group-58-7xi {
      height: 10.1rem;
      position: absolute;
      left: 56.2rem;
      top: 94.8rem;
      background-color: #d9d9d9;
      box-sizing: border-box;
      padding: 2.2rem 5.2rem 2rem 5.3rem;
      width: 30.7rem;

      .imagerie-et-contrlre-scanning-EGe {
        text-align: center;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        max-width: 20.2rem;
      }
    }
    .group-52-YYE {
      width: 30.7rem;
      height: 10.1rem;
      position: absolute;
      left: 56.4rem;
      top: 45.6rem;
      background-color: #d9d9d9;
      box-sizing: border-box;
      padding: 2.2rem 3.65rem 2rem 3.75rem;

      .etudes-thermodynamiques-StW {
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        max-width: 23.3rem;
        text-align: center;
      }
    }
    .group-50-AZc {
      left: 18.9rem;
      font-family: Inter, 'Source Sans Pro';
      height: 10.1rem;
      position: absolute;
      text-align: center;
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      align-items: center;
      background-color: #d9d9d9;
      width: 30.7rem;
      top: 78.4rem;
      display: flex;
      justify-content: center;
    }
    .group-53-T2v {
      background-color: #d9d9d9;
      box-sizing: border-box;
      padding: 2.2rem 6.3rem 2rem 6.4rem;
      width: 30.7rem;
      height: 10.1rem;
      position: absolute;
      left: 18.9rem;
      top: 47.4rem;

      .caractrisation-desrservoirs-9wL {
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        max-width: 18rem;
        text-align: center;
      }
    }
    .group-45-rar {
      width: 30.7rem;
      height: 10.1rem;
      position: absolute;
      left: 18.9rem;
      top: 62.1rem;
      background-color: #d9d9d9;
      box-sizing: border-box;
      padding: 2.2rem 2.2rem 2rem 2.2rem;

      .traitement-et-contrle-des-fluides-Yia {
        max-width: 26.3rem;
        text-align: center;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .group-54-39Y {
      width: 30.7rem;
      position: absolute;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      background-color: #d9d9d9;
      height: 10.1rem;
      left: 18.9rem;
      color: #000000;
      top: 29.2rem;
      text-align: center;
      font-size: 2.4rem;
      font-weight: 600;
      align-items: center;
      justify-content: center;
    }
    .group-46-giJ {
      color: #000000;
      background-color: #d9d9d9;
      position: absolute;
      top: 62rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      text-align: center;
      width: 30.7rem;
      left: 56.4rem;
      font-weight: 600;
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 10.1rem;
      font-size: 2.4rem;
    }
    .group-55-A7g {
      width: 30.7rem;
      color: #000000;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 10.1rem;
      top: 29.2rem;
      text-align: center;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #d9d9d9;
      position: absolute;
      left: 56.4rem;
      font-size: 2.4rem;
    }
    .group-47-F98 {
      font-weight: 600;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      justify-content: center;
      height: 10.1rem;
      position: absolute;
      top: 62rem;
      align-items: center;
      width: 30.7rem;
      left: 93.9rem;
      white-space: nowrap;
      display: flex;
      color: #000000;
      background-color: #d9d9d9;
      text-align: center;
      font-size: 2.4rem;
    }
    .group-56-XcS {
      font-size: 2.4rem;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      justify-content: center;
      height: 10.1rem;
      position: absolute;
      text-align: center;
      align-items: center;
      width: 30.7rem;
      left: 93.9rem;
      top: 29.2rem;
      font-weight: 600;
      background-color: #d9d9d9;
    }
    .sont-accrdits-suivant-lanorme-internationale-nf-iso-cei-17025-CyU {
      height: 2.8rem;
      top: 18.7rem;
      text-align: center;
      font-size: 2.3rem;
      white-space: nowrap;
      width: 70rem;
      position: absolute;
      left: 9.55rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .nos-laboratoires-f6N {
      font-size: 2.9rem;
      font-weight: 600;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 29.1rem;
      position: absolute;
      left: 9.3rem;
      white-space: nowrap;
      height: 3.6rem;
      top: 14.6rem;
      text-align: center;
    }
  }
}
